click==8.1.2
Flask==2.1.1
flask-cors==3.0.10
grpcio==1.44.0
grpcio-tools==1.44.0
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
protobuf==3.19.4
six==1.16.0
Werkzeug==2.1.1
zipp==3.8.0
userwatch-python==0.0.2